/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 279px to 319px
*/

@media (min-width: 279px) and (max-width: 319px) {
  
    /* CSS Start Here */
    /* ==========================
        ** Navber Toggler Start **
    ============================= */
    .header .navbar-toggler{
        border: 1px solid #473BF0;
        border-radius: 3px;
    }
    .header .navbar-toggler:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 10px #473BF0;
        background: #473BF0;
    }
    .header .navbar-toggler .fa{
        color: #473BF0;
        font-size: 30px;
    }
    .header .navbar-toggler:focus .fa{
        color: #fff;
    }
    /* ==========================
        ** Header Menu Start **
    ============================= */
    .header .navbar .navbar-nav .nav-item .nav-link{
        margin: 0px;
        font-size: 13px;
    }
    .header .navbar-nav .nav-item .btn-info{
        margin: 10px 0px 0px;
        font-size: 13px;
    }
    /* ==========================
        ** Banner Start **
    ============================= */
    .banner{
        padding: 35px 0px 0px;
    }
    .banner-inner{
        padding: 10px 0px 35px;
    }
    .banner-inner h1{
        font-size: 30px;
        line-height: 1.3em;
        margin: 0px 0px 10px 0px;
    }
    .banner-inner p{
        width: 90%;
        margin: 0px 0px 10px 0px;
        font-size: 13px;
    }
    .banner-inner .btn-info{
        font-size: 13px;
        margin: 5px 0px 0px;
    }
    .banner-inner .pop-video{
        font-size: 10px;
        margin: 10px 0px 0px;
    }
    /* ==========================
        ** Alert Start **
    ============================= */
    .alert{
        padding: 20px 0px;
    }
    .alert p{
        font-size: 16px;
    }
    /* ==========================
        ** Success Start **
    ============================= */
    .success{
        padding: 35px 0px;
    }
    .success-inner{
        padding: 10px 0px 30px;
    }
    .success-inner h2{
        width: 95%;
        font-size: 30px;
        line-height: 1.3em;
        margin: 0px 0px 10px 0px;
    }
    .success-inner p{
        width: 90%;
        margin: 0px 0px 10px 0px;
        font-size: 13px;
    }
    .success-inner .btn-info{
        font-size: 13px;
        margin: 5px 0px 0px;
    }
    .success-item h2{
        font-size: 30px;
        line-height: 1.3em;
        margin: 0px 0px 10px 0px;
    }
    .success-item p{
        width: 80%;
        margin: 0px 0px 10px 0px;
        font-size: 16px;
        line-height: 1.3em;
    }
    /* ==========================
        ** Services Start **
    ============================= */
    .services{
        padding: 35px 0px;
    }
    .service-title{
        padding: 10px 0px 30px;
    }
    .service-title h1{
        font-size: 30px;
        margin: 0px 0px 10px 0px;
    }
    .service-title p{
        width: 100%;
        font-size: 13px;
        margin: 0px 0px 10px 0px;
    }
    .service-box{
        padding: 0px;
    }
    .service-box h4{
        margin: 20px 0px 10px 0px;
    }
    .service-box .img-fluid{
        margin: 0px 0px 10px 0px;
    }
    .service-box p{
        width: 95%;
        font-size: 13px;
        margin: 0px 0px 10px 0px;
    }
    .service-box .success-btn{
        font-size: 13px;
    }
    /* ==========================
        ** About Start **
    ============================= */
    .about-us{
        padding: 35px 0px;
        margin: 0px 0px;
    }
    .about-titile{
        padding: 20px 0px 10px;
    }
    .about-titile h2{
        width: 100%;
        font-size: 30px;
    }
    .about-us p{
        font-size: 13px;
    }
    /* ==========================
        ** Video Start **
    ============================= */
    .video{
        padding: 35px 0px;
    }
    .video-inner{
        padding: 10px 0px;
    }
    .video-inner .play-button{
        margin: 0px 0px 10px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }
    .video-inner h2{
        font-size: 25px;
        margin: 0px 0px 10px 0px;
    }
    .video-inner p{
        width: 95%;
        font-size: 13px;
    }
    /* ==========================
        ** Testimonials Start **
    ============================= */
    .testimonial{
        padding: 35px 0px;
    }
    .testimonial-titile{
        padding: 0px 0px 30px;
    }
    .testimonial-titile h1{
        font-size: 24px;
        margin: 0px 0px 10px 0px;
    }
    .testimonial-titile p{
        width: 95%;
        font-size: 13px;
    }
    .testimonial-box{
        padding: 20px 20px;
        margin: 0px 0px 10px 0px;
    }
    .testimonial-box .img-fluid{
        margin: 0px 0px 10px 0px;
    }
    .testimonial-box p{
        font-size: 13px;
        margin: 0px 0px 10px 0px;
    }
    .testimonial-box .name, .testimonial-box .designation{
        font-size: 13px;
    }
    /* ==========================
        ** Call-To-Action Start **
    ============================= */
    .cta{
        padding: 20px 0px;
    }
    .cta-inner{
        text-align: center;
    }
    .cta-inner h1{
        text-align: center;
        font-size: 30px;
    }
    .cta-inner .btn-info{
        font-size: 13px;
        margin: 10px 0px 0px 0px;
    }
    /* ==========================
        ** Footer Start **
    ============================= */
    .footer{
        padding: 35px 0px 20px;
    }
    .inner-left{
        padding: 10px 0px;
    }
    .inner-left .img-fluid{
        width: 70%;
        margin: 0px 0px 20px;
    }
    .inner-left p{
        width: 100%;
        font-size: 13px;
        margin: 0px 0px 20px 0px;
    }
    .inner-right{
        padding: 10px 0px;
    }
    .inner-right ul li a{
        font-size: 13px;
    }
    /* ==========================
        ** Copyright Start **
    ============================= */
    .copyright p{
        font-size: 13px;
    }
    /* CSS End Here */
  
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
    /* CSS Start Here */
    /* ==========================
        ** Navber Toggler Start **
    ============================= */
    .header .navbar-toggler{
        border: 1px solid #473BF0;
        border-radius: 3px;
    }
    .header .navbar-toggler:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 10px #473BF0;
        background: #473BF0;
    }
    .header .navbar-toggler .fa{
        color: #473BF0;
        font-size: 30px;
    }
    .header .navbar-toggler:focus .fa{
        color: #fff;
    }
    /* ==========================
        ** Header Menu Start **
    ============================= */
    .header .navbar .navbar-nav .nav-item .nav-link{
        margin: 0px;
        font-size: 13px;
    }
    .header .navbar-nav .nav-item .btn-info{
        margin: 10px 0px 0px;
        font-size: 13px;
    }
    /* ==========================
        ** Banner Start **
    ============================= */
    .banner{
        padding: 35px 0px 0px;
    }
    .banner-inner{
        padding: 10px 0px 35px;
    }
    .banner-inner h1{
        font-size: 30px;
        line-height: 1.3em;
        margin: 0px 0px 10px 0px;
    }
    .banner-inner p{
        width: 90%;
        margin: 0px 0px 10px 0px;
        font-size: 13px;
    }
    .banner-inner .btn-info{
        font-size: 13px;
        margin: 5px 0px 0px;
    }
    .banner-inner .pop-video{
        font-size: 10px;
        margin: 10px 0px 0px;
    }
    /* ==========================
        ** Alert Start **
    ============================= */
    .alert{
        padding: 20px 0px;
    }
    .alert p{
        font-size: 16px;
    }
    /* ==========================
        ** Success Start **
    ============================= */
    .success{
        padding: 35px 0px;
    }
    .success-inner{
        padding: 10px 0px 30px;
    }
    .success-middle{
        margin: 0px 0px 20px 0px;
    }
    .success-inner h2{
        width: 95%;
        font-size: 30px;
        line-height: 1.3em;
        margin: 0px 0px 10px 0px;
    }
    .success-inner p{
        width: 90%;
        margin: 0px 0px 10px 0px;
        font-size: 13px;
    }
    .success-inner .btn-info{
        font-size: 13px;
        margin: 5px 0px 0px;
    }
    .success-item h2{
        font-size: 30px;
        line-height: 1.3em;
        margin: 0px 0px 10px 0px;
    }
    .success-item p{
        width: 80%;
        margin: 0px 0px 10px 0px;
        font-size: 16px;
        line-height: 1.3em;
    }
    /* ==========================
        ** Services Start **
    ============================= */
    .services{
        padding: 35px 0px;
    }
    .service-title{
        padding: 10px 0px 30px;
    }
    .service-title h1{
        font-size: 30px;
        margin: 0px 0px 10px 0px;
    }
    .service-title p{
        width: 100%;
        font-size: 13px;
        margin: 0px 0px 10px 0px;
    }
    .service-box{
        padding: 0px;
    }
    .service-box h4{
        margin: 20px 0px 10px 0px;
    }
    .service-box .img-fluid{
        margin: 0px 0px 10px 0px;
    }
    .service-box p{
        width: 95%;
        font-size: 13px;
        margin: 0px 0px 10px 0px;
    }
    .service-box .success-btn{
        font-size: 13px;
    }
    /* ==========================
        ** About Start **
    ============================= */
    .about-us{
        padding: 35px 0px;
        margin: 0px 0px;
    }
    .about-titile{
        padding: 20px 0px 10px;
    }
    .about-titile h2{
        width: 100%;
        font-size: 30px;
    }
    .about-us p{
        font-size: 13px;
    }
    /* ==========================
        ** Video Start **
    ============================= */
    .video{
        padding: 35px 0px;
    }
    .video-inner{
        padding: 10px 0px;
    }
    .video-inner .play-button{
        margin: 0px 0px 10px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }
    .video-inner h2{
        font-size: 25px;
        margin: 0px 0px 10px 0px;
    }
    .video-inner p{
        width: 95%;
        font-size: 13px;
    }
    /* ==========================
        ** Testimonials Start **
    ============================= */
    .testimonial{
        padding: 35px 0px;
    }
    .testimonial-titile{
        padding: 0px 0px 30px;
    }
    .testimonial-titile h1{
        font-size: 24px;
        margin: 0px 0px 10px 0px;
    }
    .testimonial-titile p{
        width: 95%;
        font-size: 13px;
    }
    .testimonial-box{
        padding: 20px 20px;
        margin: 0px 0px 10px 0px;
    }
    .testimonial-box .img-fluid{
        margin: 0px 0px 10px 0px;
    }
    .testimonial-box p{
        font-size: 13px;
        margin: 0px 0px 10px 0px;
    }
    .testimonial-box .name, .testimonial-box .designation{
        font-size: 13px;
    }
    /* ==========================
        ** Call-To-Action Start **
    ============================= */
    .cta{
        padding: 20px 0px;
    }
    .cta-inner{
        text-align: center;
    }
    .cta-inner h1{
        text-align: center;
        font-size: 30px;
    }
    .cta-inner .btn-info{
        font-size: 13px;
        margin: 10px 0px 0px 0px;
    }
    /* ==========================
        ** Footer Start **
    ============================= */
    .footer{
        padding: 35px 0px 20px;
    }
    .inner-left{
        padding: 10px 0px;
    }
    .inner-left .img-fluid{
        width: 70%;
        margin: 0px 0px 20px;
    }
    .inner-left p{
        width: 100%;
        font-size: 13px;
        margin: 0px 0px 20px 0px;
    }
    .inner-right{
        padding: 10px 0px;
    }
    .inner-right ul li a{
        font-size: 13px;
    }
    /* ==========================
        ** Copyright Start **
    ============================= */
    .copyright p{
        font-size: 13px;
    }
    /* CSS End Here */
    
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
    /* CSS Start Here */
    /* ==========================
        ** Navber Toggler Start **
    ============================= */
    .header .navbar-toggler{
        border: 1px solid #473BF0;
        border-radius: 3px;
    }
    .header .navbar-toggler:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 10px #473BF0;
        background: #473BF0;
    }
    .header .navbar-toggler .fa{
        color: #473BF0;
        font-size: 30px;
    }
    .header .navbar-toggler:focus .fa{
        color: #fff;
    }
    /* ==========================
        ** Header Menu Start **
    ============================= */
    .header .navbar .navbar-nav .nav-item .nav-link{
        margin: 0px;
        font-size: 15px;
    }
    .header .navbar-nav .nav-item .btn-info{
        margin: 10px 0px 0px;
        font-size: 13px;
    }
    /* ==========================
        ** Banner Start **
    ============================= */
    .banner{
        padding: 40px 0px 0px;
    }
    .banner-inner{
        padding: 10px 0px 40px;
    }
    .banner-inner h1{
        font-size: 40px;
        line-height: 1.3em;
        margin: 0px 0px 10px 0px;
    }
    .banner-inner p{
        width: 90%;
        margin: 0px 0px 10px 0px;
        font-size: 15px;
    }
    .banner-inner .btn-info{
        font-size: 13px;
        margin: 5px 0px 0px;
    }
    .banner-inner .pop-video{
        font-size: 10px;
        margin: 10px 0px 0px;
    }
    /* ==========================
        ** Alert Start **
    ============================= */
    .alert{
        padding: 30px 0px;
    }
    .alert p{
        font-size: 15px;
    }
    /* ==========================
        ** Success Start **
    ============================= */
    .success{
        padding: 40px 0px;
    }
    .success-inner{
        padding: 10px 0px 40px;
    }
    .success-middle{
        margin: 0px 0px 20px 0px;
    }
    .success-inner h2{
        width: 80%;
        font-size: 40px;
        line-height: 1.3em;
        margin: 0px 0px 10px 0px;
    }
    .success-inner p{
        width: 70%;
        margin: 0px 0px 10px 0px;
        font-size: 15px;
    }
    .success-inner .btn-info{
        font-size: 13px;
        margin: 5px 0px 0px;
    }
    .success-item h2{
        font-size: 30px;
        line-height: 1.3em;
        margin: 0px 0px 10px 0px;
    }
    .success-item p{
        width: 60%;
        margin: 0px 0px 10px 0px;
        font-size: 16px;
        line-height: 1.3em;
    }
    /* ==========================
        ** Services Start **
    ============================= */
    .services{
        padding: 40px 0px;
    }
    .service-title{
        padding: 10px 0px 40px;
    }
    .service-title h1{
        font-size: 40px;
        margin: 0px 0px 15px 0px;
    }
    .service-title p{
        width: 100%;
        font-size: 15px;
        margin: 0px 0px 15px 0px;
    }
    .service-box{
        padding: 0px;
    }
    .service-box h4{
        margin: 20px 0px 15px 0px;
    }
    .service-box .img-fluid{
        margin: 0px 0px 15px 0px;
    }
    .service-box p{
        width: 95%;
        font-size: 15px;
        margin: 0px 0px 15px 0px;
    }
    .service-box .success-btn{
        font-size: 15px;
    }
    /* ==========================
        ** About Start **
    ============================= */
    .about-us{
        padding: 40px 0px;
        margin: 0px 0px;
    }
    .about-titile{
        padding: 20px 0px 10px;
    }
    .about-titile h2{
        width: 95%;
        font-size: 40px;
    }
    .about-us p{
        font-size: 18px;
    }
    /* ==========================
        ** Video Start **
    ============================= */
    .video{
        padding: 40px 0px;
    }
    .video-inner{
        padding: 10px 0px;
    }
    .video-inner .play-button{
        margin: 0px 0px 10px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }
    .video-inner h2{
        font-size: 30px;
        margin: 0px 0px 10px 0px;
    }
    .video-inner p{
        width: 80%;
        font-size: 15px;
    }
    /* ==========================
        ** Testimonials Start **
    ============================= */
    .testimonial{
        padding: 40px 0px;
    }
    .testimonial-titile{
        padding: 0px 0px 40px;
    }
    .testimonial-titile h1{
        font-size: 35px;
        margin: 0px 0px 10px 0px;
    }
    .testimonial-titile p{
        width: 90%;
        font-size: 15px;
    }
    .testimonial-box{
        padding: 20px 20px;
        margin: 0px 0px 10px 0px;
    }
    .testimonial-box .img-fluid{
        margin: 0px 0px 10px 0px;
    }
    .testimonial-box p{
        font-size: 19px;
        margin: 0px 0px 10px 0px;
    }
    .testimonial-box .name, .testimonial-box .designation{
        font-size: 19px;
    }
    /* ==========================
        ** Call-To-Action Start **
    ============================= */
    .cta{
        padding: 20px 0px;
    }
    .cta-inner{
        text-align: center;
    }
    .cta-inner h1{
        text-align: center;
        font-size: 40px;
    }
    .cta-inner .btn-info{
        font-size: 13px;
        margin: 10px 0px 0px 0px;
    }
    /* ==========================
        ** Footer Start **
    ============================= */
    .footer{
        padding: 40px 0px 20px;
    }
    .inner-left{
        padding: 10px 0px;
    }
    .inner-left .img-fluid{
        width: 70%;
        margin: 0px 0px 20px;
    }
    .inner-left p{
        width: 95%;
        font-size: 15px;
        margin: 0px 0px 20px 0px;
    }
    .inner-right{
        padding: 10px 0px;
    }
    .inner-right ul li a{
        font-size: 15px;
    }
    /* ==========================
        ** Copyright Start **
    ============================= */
    .copyright p{
        font-size: 15px;
    }
    /* CSS End Here */
    
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
    /* CSS Start Here */
    /* ==========================
        ** Navber Toggler Start **
    ============================= */
    .header .navbar-toggler{
        border: 1px solid #473BF0;
        border-radius: 3px;
    }
    .header .navbar-toggler:focus{
        text-decoration: none;
        outline: 0;
        box-shadow: 0 0 10px #473BF0;
        background: #473BF0;
    }
    .header .navbar-toggler .fa{
        color: #473BF0;
        font-size: 30px;
    }
    .header .navbar-toggler:focus .fa{
        color: #fff;
    }
    /* ==========================
        ** Header Menu Start **
    ============================= */
    .header .navbar .navbar-nav .nav-item .nav-link{
        margin: 0px;
        font-size: 15px;
    }
    .header .navbar-nav .nav-item .btn-info{
        margin: 10px 0px 0px;
        font-size: 15px;
    }
    /* ==========================
        ** Banner Start **
    ============================= */
    .banner{
        padding: 50px 0px 0px;
    }
    .banner-inner{
        padding: 20px 0px 50px;
    }
    .banner-inner h1{
        font-size: 55px;
        line-height: 1.3em;
        margin: 0px 0px 20px 0px;
    }
    .banner-inner p{
        width: 85%;
        margin: 0px 0px 20px 0px;
        font-size: 19px;
    }
    .banner-inner .btn-info{
        font-size: 15px;
        margin: 5px 0px 0px;
    }
    .banner-inner .pop-video{
        font-size: 13px;
        margin: 20px 0px 0px;
    }
    /* ==========================
        ** Alert Start **
    ============================= */
    .alert{
        padding: 30px 0px;
    }
    .alert p{
        font-size: 19px;
    }
    /* ==========================
        ** Success Start **
    ============================= */
    .success{
        padding: 50px 0px;
    }
    .success-inner{
        padding: 20px 0px 50px;
    }
    .success-middle{
        margin: 0px 0px 30px 0px;
    }
    .success-inner h2{
        width: 80%;
        font-size: 50px;
        line-height: 1.3em;
        margin: 0px 0px 20px 0px;
    }
    .success-inner p{
        width: 70%;
        margin: 0px 0px 20px 0px;
        font-size: 19px;
    }
    .success-inner .btn-info{
        font-size: 15px;
        margin: 5px 0px 0px;
    }
    .success-item h2{
        font-size: 40px;
        line-height: 1.3em;
        margin: 0px 0px 20px 0px;
    }
    .success-item p{
        width: 70%;
        margin: 0px 0px 20px 0px;
        font-size: 19px;
        line-height: 1.3em;
    }
    /* ==========================
        ** Services Start **
    ============================= */
    .services{
        padding: 50px 0px;
    }
    .service-title{
        padding: 20px 0px 50px;
    }
    .service-title h1{
        font-size: 50px;
        margin: 0px 0px 20px 0px;
    }
    .service-title p{
        width: 100%;
        font-size: 19px;
        margin: 0px 0px 20px 0px;
    }
    .service-box{
        padding: 0px;
    }
    .service-box h4{
        font-size: 40px;
        margin: 20px 0px 20px 0px;
    }
    .service-box .img-fluid{
        margin: 0px 0px 20px 0px;
    }
    .service-box p{
        width: 80%;
        font-size: 19px;
        margin: 0px 0px 20px 0px;
    }
    .service-box .success-btn{
        font-size: 19px;
    }
    /* ==========================
        ** About Start **
    ============================= */
    .about-us{
        padding: 5% 0px;
        margin: 0px 0px;
    }
    .about-titile{
        padding: 20px 0px 10px;
    }
    .about-titile h2{
        width: 90%;
        font-size: 50px;
    }
    .about-us p{
        font-size: 22px;
    }
    /* ==========================
        ** Video Start **
    ============================= */
    .video{
        padding: 50px 0px;
    }
    .video-inner{
        padding: 20px 0px;
    }
    .video-inner .play-button{
        margin: 0px 0px 10px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }
    .video-inner h2{
        font-size: 50px;
        margin: 0px 0px 10px 0px;
    }
    .video-inner p{
        width: 80%;
        font-size: 19px;
    }
    /* ==========================
        ** Testimonials Start **
    ============================= */
    .testimonial{
        padding: 50px 0px;
    }
    .testimonial-titile{
        padding: 0px 0px 50px;
    }
    .testimonial-titile h1{
        font-size: 50px;
        margin: 0px 0px 10px 0px;
    }
    .testimonial-titile p{
        width: 90%;
        font-size: 19px;
    }
    .testimonial-box{
        padding: 20px 20px;
        margin: 0px 0px 20px 0px;
    }
    .testimonial-box .img-fluid{
        margin: 0px 0px 20px 0px;
    }
    .testimonial-box p{
        font-size: 22px;
        margin: 0px 0px 20px 0px;
    }
    .testimonial-box .name, .testimonial-box .designation{
        font-size: 22px;
    }
    /* ==========================
        ** Call-To-Action Start **
    ============================= */
    .cta{
        padding: 20px 0px;
    }
    .cta-inner{
        text-align: center;
    }
    .cta-inner h1{
        font-size: 30px;
    }
    .cta-inner .btn-info{
        font-size: 13px;
        margin: 10px 0px 0px 0px;
    }
    /* ==========================
        ** Footer Start **
    ============================= */
    .footer{
        padding: 50px 0px 30px;
    }
    .inner-left{
        padding: 10px 0px;
    }
    .inner-left .img-fluid{
        width: 80%;
        margin: 0px 0px 20px;
    }
    .inner-left p{
        width: 90%;
        font-size: 19px;
        margin: 0px 0px 20px 0px;
    }
    .inner-right p{
        font-size: 19px;
    }
    .inner-right{
        padding: 10px 0px;
    }
    .inner-right ul li a{
        font-size: 19px;
    }
    /* ==========================
        ** Copyright Start **
    ============================= */
    .copyright p{
        font-size: 19px;
    }
    /* CSS End Here */
  
}