*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 14px;
    line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Gilroy-Bold', sans-serif;
}
a, a:hover{
    text-decoration: none;
}
.header{
    width: 100%;
    background: url("../img/bannerbg.png") center no-repeat;
    background-size: cover;
}
.header .navbar .navbar-nav .nav-item .nav-link{
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0px 0px 0px 30px;
    color: #161C2D;
    transition: .5s ease-in-out;
}
.header .navbar .navbar-nav .nav-item .nav-link:hover, .header .navbar .navbar-nav .nav-item .nav-link:focus{
    color: #473BF0;
}
.header .navbar-nav .nav-link.active{
    color: #473BF0 !important;
}
.header .navbar-nav .nav-item .btn-info{
    padding: 10px 25px;
    margin: 0px 0px 0px 30px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background: #473BF0;
    border: 1px solid #473BF0;
    transition: .5s ease-in-out;
}
.header .navbar-nav .nav-item .btn-info:hover, .header .navbar-nav .nav-item .btn-info:focus{
    color: #473BF0;
    background: transparent;
    border: 1px solid #473BF0;
}
.banner{
    width: 100%;
    padding: 80px 0px 0px;
}
.banner-inner{
    width: 100%;
    padding: 80px 0px 0px;
}
.banner-inner h1{
    font-size: 48px;
    font-weight: 700;
    margin: 0px 0px 20px 0px;
    color: #161C2D;
}
.banner-inner p{
    width: 70%;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0px 0px 20px 0px;
    color: #161C2D;
}
.banner-inner .btn-info{
    display: inline-block;
    padding: 10px 25px;
    margin: 10px 0px 0px 0px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background: #473BF0;
    border: 1px solid #473BF0;
    transition: .5s ease-in-out;
}
.banner-inner .btn-info:hover, .banner-inner .btn-info:focus{
    color: #473BF0;
    background: transparent;
    border: 1px solid #473BF0;
}
.banner-inner .pop-video{
    display: block;
    margin: 20px 0px 0px 0px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #161C2D;
}
.banner-inner a .fa{
    margin: 0px 5px 0px 0px;
    color: #473BF0;
    font-size: 16px;
}
.alert{
    width: 100%;
    padding: 30px 0px;
    background: #161C2D;
    text-align: center;
}
.alert p{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0px 0px 0px 0px;
    color: #fff;
}
.alert p .fa{
    margin: 0px 5px 0px 0px;
    color: #fff;
    font-size: 20px;
}
.alert p .pop-video{
    text-decoration: underline;
    color: #fff;
    transition: .5s ease-in-out;
}
.alert p .pop-video:hover, .alert p .pop-video:focus{
    color: #473BF0;
}
.alert .modal-body{
    padding: 0px;
    background: #000;
}
.success{
    width: 100%;
    padding: 80px 0px;
}
.success-inner{
    width: 100%;
    padding: 50px 0px 0px;
}
.success-inner h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.7em;
    margin: 0px 0px 20px 0px;
    color: #161C2D;
}
.success-inner p{
    width: 80%;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0px 0px 20px 0px;
    color: #161C2D;
}
.success-inner .btn-info{
    display: inline-block;
    padding: 10px 25px;
    margin: 10px 0px 0px 0px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background: #473BF0;
    border: 1px solid #473BF0;
    text-transform: capitalize;
    transition: .5s ease-in-out;
}
.success-inner .btn-info:hover, .success-inner .btn-info:focus{
    color: #473BF0;
    background: transparent;
    border: 1px solid #473BF0;
}
.success-item{
    width: 100%;
    margin: 10px 0px 0px;
}
.success-item h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.7em;
    margin: 0px 0px 10px 0px;
    color: #161C2D;
}
.success-item p{
    width: 80%;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0px 0px 10px 0px;
    color: #161C2D;
}
.services{
    width: 100%;
    padding: 80px 0px;
    background: #F4F7FA;
}
.service-title{
    width: 100%;
    padding: 0px 0px 60px;
    text-align: center;
}
.service-title h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0px 0px 10px 0px;
    color: #161C2D;
}
.service-title p{
    width: 45%;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0px auto;
    color: #161C2D;
}
.service-box{
    width: 100%;
    padding: 0px 20px;
}
.service-box h4{
    font-size: 21px;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0px 0px 20px 0px;
    text-transform: capitalize;
    color: #161C2D;
}
.service-box .img-fluid{
    max-width: 100%;
    border-radius: 20px;
    margin: 0px 0px 30px;
}
.service-box p{
    width: 90%;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0px 0px 20px 0px;
    color: #161C2D;
}
.service-box .success-btn{
    padding: 0;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
    color: #473BF0;
    transition: .5s ease-in-out;
}
.service-box .success-btn .fa{
    margin: 0px 0px 0px 20px;
}
.service-box .success-btn:hover, .service-box .success-btn:focus{
    color: #161C2D;
}
.about-us{
    width: 100%;
    padding: 80px 0px 0px;
    margin: 0px 0px -250px;
    position: relative;
    z-index: 0;
}
.about-titile{
    width: 100%;
    padding: 40px 0px 0px;
}
.about-titile h2{
    width: 75%;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0px 0px 10px 0px;
    color: #161C2D;
}
.about-titile p{
    width: 70%;
    font-size: 19px;
    font-weight: 400 !important;
    line-height: 1.7em;
    margin: 0px 0px 40px 0px !important;
    color: #161C2D;
}
.about-us p{
    font-size: 19px;
    font-weight: 700;
    line-height: 1.7em;
    margin: 0px 0px 20px 0px;
    color: #161C2D;
}
.about-us p .fa{
    color: #473BF0;
    margin: 0px 20px 0px 0px;
}
.video{
    width: 100%;
    padding: 80px 0px;
    background: url("../img/videobg.png") center no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}
.video-inner{
    width: 100%;
    padding: 60px 0px;
    text-align: center;
}
.video-inner .play-button{
    display: inline-block;
    margin: 0px 0px 30px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    background: #fff;
    border-radius: 100%;
    border: 1px solid #fff;
    color: #473BF0;
    font-size: 22px;
    transition: .5s ease-in-out;
}
.video-inner .play-button:hover, .video-inner .play-button:focus{
    background: #473BF0;
    border: 1px solid #473BF0;
    color: #fff;
}
.video-inner h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0px 0px 10px 0px;
    color: #fff;
}
.video-inner p{
    width: 45%;
    font-size: 19px;
    font-weight: 400 !important;
    line-height: 1.7em;
    margin: 0px auto;
    color: #fff;
}
.testimonial{
    width: 100%;
    padding: 80px 0px;
}
.testimonial-titile{
    width: 100%;
    padding: 0px 0px 60px;
    text-align: center;
}
.testimonial-titile h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0px 0px 10px 0px;
    color: #161C2D;
}
.testimonial-titile p{
    width: 45%;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0px auto;
    color: #161C2D;
}
.testimonial-box{
    width: 100%;
    padding: 40px 50px;
    border: 1px solid #E7E9ED;
    border-radius: 10px;
}
.testimonial-box .img-fluid{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: 0px 0px 50px;
}
.testimonial-box p{
    font-size: 21px;
    font-weight: 400;
    line-height: 1.7em;
    color: #161C2D;
}
.testimonial-box .name{
    font-size: 17px;
    font-weight: 700;
    line-height: 1.7em;
    text-transform: capitalize;
    color: #161C2D;
}
.testimonial-box .designation{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7em;
    text-transform: capitalize;
    color: #161C2D;
    margin: 0px 0px 0px -30px;
}
.cta{
    width: 100%;
    padding: 40px 0px;
    background: #68D585;
}
.cta-inner{
    width: 100%;
    padding: 20px 0px;
}
.cta-inner h1{
    text-align: right;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0px 0px 0px 0px;
    color: #fff;
}
.cta-inner .btn-info{
    margin: 5px 0px 0px 0px;
}
.cta-inner .btn-info{
    display: inline-block;
    padding: 10px 25px;
    margin: 0px 0px 0px 10px;
    font-size: 15px;
    font-weight: 700;
    color: #161C2D;
    background: #fff;
    border: 1px solid #fff;
    text-transform: capitalize;
    transition: .5s ease-in-out;
}
.cta-inner .btn-info:hover, .cta-inner .btn-info:focus{
    background: transparent;
    border: 1px solid #161C2D;
    color: #161C2D;
}
.footer{
    width: 100%;
    padding: 80px 0px 30px;
    background: #161C2D;
}
.inner-left{
    width: 100%;
    padding: 40px 0px 40px;
}
.inner-left .img-fluid{
    max-width: 100%;
    margin: 0px 0px 50px;
}
.inner-left p{
    width: 80%;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7em;
    color: #fff;
    margin: 0px 0px 50px;
}
.inner-left .social-icons{
    padding: 0;
}
.inner-left .social-icons .active{
    color: #68D585;
}
.inner-left .social-icons li{
    display: inline-block;
    margin: 0 18px 0 0;
}
.inner-left .social-icons li a{
    display: block;
    color: #7D818D;
    font-size: 22px;
    transition: .5s ease-in-out;
}
.inner-left .social-icons li a:hover, .inner-left .social-icons li a:focus{
    color: #68D585;
}
.inner-right{
    width: 100%;
    padding: 40px 0px 40px;
}
.inner-right p{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.7em;
    color: #7D818D;
    margin: 0px 0px 30px;
}
.inner-right ul{
    padding: 0;    
}
.inner-right ul li{
    list-style: none;
    padding: 0px 0px 15px;
}
.inner-right ul li a{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7em;
    color: #fff;
}
.copyright{
    width: 100%;
    text-align: center;
}
.copyright p{
    font-size: 17px;
    line-height: 24px;
    color: #CDCDCD;
}
.copyright p span{
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
}