*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Gilroy-Regular', sans-serif;
    font-size: 14px;
    line-height: 1.7em;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Gilroy-Bold', sans-serif;
}
a, a:hover{
    text-decoration: none;
}
.header{
    width: 100%;
    background: url("../img/bannerbg.png") center no-repeat;
    background-size: cover;
}
.header .navbar .navbar-nav .nav-item .nav-link{
    font-size: 15px;
    font-weight: 700;
    text-transform: capitalize;
    margin: 0px 0px 0px 30px;
    color: #161C2D;
    transition: .5s ease-in-out;
}
.header .navbar .navbar-nav .nav-item .nav-link:hover, .header .navbar .navbar-nav .nav-item .nav-link:focus{
    color: #473BF0;
}
.header .navbar-nav .nav-link.active{
    color: #473BF0 !important;
}
.header .navbar-nav .nav-item .btn-info{
    padding: 10px 25px;
    margin: 0px 0px 0px 30px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background: #473BF0;
    border: 1px solid #473BF0;
    transition: .5s ease-in-out;
}
.header .navbar-nav .nav-item .btn-info:hover, .header .navbar-nav .nav-item .btn-info:focus{
    color: #473BF0;
    background: transparent;
    border: 1px solid #473BF0;
}
.banner{
    width: 100%;
    padding: 80px 0px 0px;
}
.banner-inner{
    width: 100%;
    padding: 80px 0px 0px;
}
.banner-inner h1{
    font-size: 48px;
    font-weight: 700;
    margin: 0px 0px 20px 0px;
    color: #161C2D;
}
.banner-inner p{
    width: 70%;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0px 0px 20px 0px;
    color: #161C2D;
}
.banner-inner .btn-info{
    display: inline-block;
    padding: 10px 25px;
    margin: 10px 0px 0px 0px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background: #473BF0;
    border: 1px solid #473BF0;
    transition: .5s ease-in-out;
}
.banner-inner .btn-info:hover, .banner-inner .btn-info:focus{
    color: #473BF0;
    background: transparent;
    border: 1px solid #473BF0;
}
.banner-inner .pop-video{
    display: block;
    margin: 20px 0px 0px 0px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    color: #161C2D;
}
.banner-inner a .fa{
    margin: 0px 5px 0px 0px;
    color: #473BF0;
    font-size: 16px;
}
.alert{
    width: 100%;
    padding: 30px 0px;
    background: #161C2D;
    text-align: center;
}
.alert p{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0px 0px 0px 0px;
    color: #fff;
}
.alert p .fa{
    margin: 0px 5px 0px 0px;
    color: #fff;
    font-size: 20px;
}
.alert p .pop-video{
    text-decoration: underline;
    color: #fff;
    transition: .5s ease-in-out;
}
.alert p .pop-video:hover, .alert p .pop-video:focus{
    color: #473BF0;
}
.alert .modal-body{
    padding: 0px;
    background: #000;
}
.success{
    width: 100%;
    padding: 80px 0px;
}
.success-inner{
    width: 100%;
    padding: 50px 0px 0px;
}
.success-inner h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.7em;
    margin: 0px 0px 20px 0px;
    color: #161C2D;
}
.success-inner p{
    width: 80%;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0px 0px 20px 0px;
    color: #161C2D;
}
.success-inner .btn-info{
    display: inline-block;
    padding: 10px 25px;
    margin: 10px 0px 0px 0px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    background: #473BF0;
    border: 1px solid #473BF0;
    text-transform: capitalize;
    transition: .5s ease-in-out;
}
.success-inner .btn-info:hover, .success-inner .btn-info:focus{
    color: #473BF0;
    background: transparent;
    border: 1px solid #473BF0;
}
.success-item{
    width: 100%;
    margin: 10px 0px 0px;
}
.success-item h2{
    font-size: 32px;
    font-weight: 700;
    line-height: 1.7em;
    margin: 0px 0px 10px 0px;
    color: #161C2D;
}
.success-item p{
    width: 80%;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0px 0px 10px 0px;
    color: #161C2D;
}
.services{
    width: 100%;
    padding: 80px 0px;
    background: #F4F7FA;
}
.service-title{
    width: 100%;
    padding: 0px 0px 60px;
    text-align: center;
}
.service-title h1{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0px 0px 10px 0px;
    color: #161C2D;
}
.service-title p{
    width: 45%;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0px auto;
    color: #161C2D;
}
.service-box{
    width: 100%;
    padding: 0px 20px;
}
.service-box h4{
    font-size: 21px;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0px 0px 20px 0px;
    text-transform: capitalize;
    color: #161C2D;
}
.service-box .img-fluid{
    max-width: 100%;
    border-radius: 20px;
    margin: 0px 0px 30px;
}
.service-box p{
    width: 90%;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0px 0px 20px 0px;
    color: #161C2D;
}
.service-box .success-btn{
    padding: 0;
    text-decoration: none;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize;
    color: #473BF0;
    transition: .5s ease-in-out;
}
.service-box .success-btn .fa{
    margin: 0px 0px 0px 20px;
}
.service-box .success-btn:hover, .service-box .success-btn:focus{
    color: #161C2D;
}
.about-us{
    width: 100%;
    padding: 80px 0px 0px;
}
.about-titile{
    width: 100%;
}
.about-titile h2{
    font-size: 36px;
    font-weight: 700;
    line-height: 1.3em;
    margin: 0px 0px 0px 0px;
    text-transform: capitalize;
    color: #161C2D;
}
.about-titile p{
    width: 90%;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.7em;
    margin: 0px 0px 0px 0px;
    color: #161C2D;
}